{% extends "base.html" %}

{% block title %}{{ section.title }} - 4T88.xyz{% endblock title %}

{% block content %}
    <div style="margin-bottom:2em;">{{ section.content | safe }}</div>
    <ul>
    {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a> <small>{{ page.date | date(format="%Y-%m-%d") }}</small>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}

{% block sidebar %}
<nav class="side-nav">
  <ul>
    <li><a href="/">about</a></li>
    <li><a href="/posts/">blog</a></li>
    <li><a href="https://github.com/4t88">github</a></li>
    <li><a href="mailto:4t88@protonmail.com">email</a></li>
    <li><a href="https://matrix.to/#/@4t88:matrix.org">matrix</a></li>
  </ul>
</nav>
<hr>
<b>contact</b><br>
4t88@protonmail.com
{% endblock sidebar %} 